.card:hover{
    box-shadow: 0px 0px 10px blue;
	cursor: pointer;
	}
	
#soon{
	display:none;
	}

#late{
	display:none;
	}
	
#alpha{
	display:none;
	}
	
#antialpha{
	display:none;
	}

#cat{
	display:none;
	}
	
#anticat{
	display:none;
	}
	
#important{
	display:block;
	}
	
#notimportant{
	display:none;
	}